.body {
  padding: 10px;
}

.body_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
  max-width: 900px;
  margin: auto;
}

.body_list::-webkit-scrollbar {
  display: none;
}
.body_listItem {
  position: relative;
  box-shadow: rgba(1, 54, 114, 0.276) 0px 26px 30px -10px,
    rgba(0, 16, 99, 0.73) 0px 16px 10px -15px;
  text-align: center;
  background-color: #e7e7e7;
  min-width: 170px;
  padding: 20px;
  border: 1px solid gray;
}

.vid {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
}

.vid:hover {
  opacity: 0.7;
}

.body_listItem > .MuiSvgIcon-root {
  font-size: 80px;
}

.body_listItem > h3 {
  z-index: 5;
  text-align: center;
  color: #006d8b;
}

.icon {
  font-size: 60px;
  max-width: 60px;
}

.body hr {
  width: 1000px;
  border-top: 2px solid #006d8b;
  color: #004c62;
  margin: auto;
}

.body_cars {
  max-width: 900px;
  margin: auto;
  color: #004c62;
  margin-top: 30px;
}
.body_info {
  max-width: 900px;
  margin: auto;
  margin-bottom: 30px;
}

.body_info h3 {
  color: #004c62;
  margin-top: 5px;
}

.body_info a {
  text-decoration: none;
  color: blue;
  font-size: 17px;
}

.body_info p {
  letter-spacing: 0.5px;
  font-size: medium;
  margin-bottom: 5px;
  color: rgb(69, 69, 69);
}

@media only screen and (max-width: 1030px) {
  .body hr {
    width: 99%;
  }
  .body_cars h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 750px) {
  .body_listItem {
    margin: 0px 10px;
  }
  .body_list {
    overflow: scroll;
    justify-content: flex-start;
  }
}
