.header {
  position: relative;
  height: 450px;
  background: url("/public/Images/Header.png");
  background-color: red;
  background-size: 100% 100%;
  background-position: top;
  margin: -10px;
  margin-top: -80px;
}

.header_container {
  position: absolute;
  bottom: 90px;
  width: 100%;
}

.header_container h1 {
  text-align: center;
  width: 100%;
  color: #611515;
  font-size: 30px;
  position: absolute;
  top: 35px;
  display: none;
}

@media only screen and (max-width: 590px) {
  .header {
    background: url("/public/Images/Heade.png");
    background-position: center left;
    background-size: 100% 100%;
  }
  .header_container h1 {
    display: block;
  }
}

@media only screen and (max-width: 337px) {
  .header_container h1 {
    text-align: center;
    font-size: 8vw;
    /* position: absolute; */
    /* top: 15px; */
  }
}
