.header {
  position: relative;
  height: 420px;
  background: url("/public/Images/Heade.png");
  background-color: red;
  background-size: 100% 100%;
  background-position: top right;
  margin: -10px;
  margin-top: -79px;
}

.header_container {
  position: absolute;
  bottom: 90px;
  width: 100%;
}

.header_container h1 {
  text-align: center;
  padding-top: 100px;
  color: #ffffff;
  font-size: 50px;
}

@media only screen and (max-width: 590px) {
  .header {
    background: url("/public/Images/heade2.jpeg");
    background-position: center left;
    background-size: cover;
  }
}
