.nav {
  position: sticky;
  top: -50px;
  max-height: 70px;
  min-height: 60px;
  background-color: #006d8b;
  background: transparent;
  color: white;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  z-index: 10;
  width: 100vw;
  transition-timing-function: ease-in-out;
  transition: all 0.5s;
}

.nav_black {
  background: rgb(227 16 16);
}

.nav img {
  position: absolute;
  top: 3px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-left: 20px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: rgba(1, 54, 114, 0.276) 0px 26px 30px -10px,
    rgba(0, 16, 99, 0.5) 0px 16px 10px -15px;
}

.nav_menu {
  flex: 1;
  display: flex;
  justify-content: end;
  padding: 0 50px;
}

.nav_menu ul {
  display: flex;
  list-style: none;
  position: absolute;
  top: 20px;
}

.nav_menu ul a {
  text-decoration: none;
  color: white;
}

.nav_menu ul li {
  margin: 0 20px;
  cursor: pointer;
  transition: all 270ms ease-in;
  border-bottom: 3px solid transparent;
  border-radius: 20%;
}

.nav_menu ul li:hover {
  /* color: #7bcde4; */
  transform: scale(1.2);
  border-bottom: 3px solid #ffffff;
  border-radius: 20%;
}

.nav .MuiSvgIcon-root {
  position: absolute;
  top: -0px;
  display: none;
}

@media only screen and (max-width: 590px) {
  .nav img {
    position: absolute;
    top: 30px;
  }
  .nav_menu ul {
    flex-direction: column;
    position: absolute;
    top: 5px;
    right: 50px;
    background-color: black;
  }
  .nav_menu ul li {
    width: min-content;
    margin: 5px 0px;
    padding: 0 5px;
    margin-right: 20px;
  }
  .nav_menu {
    padding: 0;
    justify-content: end;
    align-items: flex-end;
  }
  .nav .MuiSvgIcon-root {
    color: white;
    display: inline;
    font-size: 40px;
    right: 10px;
  }
}
