#backdrop {
  position: relative;
  color: rgba(2, 0, 0, 0.452);
  padding: 70px 10px;
  height: 1000vh;
  width: 100vw;
  max-height: 752px;
  position: absolute;
  z-index: 10;
  display: none;
}

#backdrop p {
  position: fixed;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 1, 3, 0.45);
}
